<!-- Django Girls Blog Single Post HTML Template -->
<!--This HTML template is an extension of the base template 
    designed for a Django Girls blog. 
    It is specifically used to display a single blog post in detail.-->

{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if post.published_date %}
                <div class="date">
                    {{ post.published_date }}
                </div>
            {% else %}
                <a class="w3-button w3-ripple w3-red" 
                href="{% url 'post_publish' pk=post.pk %}">
                {% include './icons/publish.svg' %}</a>
            {% endif %}
            <!-- Link to edit the post using the post_edit URL with the post's primary key -->
            <a class="w3-button w3-ripple w3-red" 
            href="{% url 'post_edit' pk=post.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
            <a class="w3-button w3-ripple w3-red" 
            href="{% url 'post_remove' pk=post.pk %}">
            {% include './icons/delete-file.svg' %}
            </a>
        </aside>
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">{% include './icons/delete-file.svg' %}</a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">{% include './icons/approve.svg' %}</a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}
