<!-- Django Girls Blog Single Post HTML Template -->
<!--This HTML template is an extension of the base template 
    designed for a Django Girls blog. 
    It is specifically used to display a single blog post in detail.-->

{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            <!-- Link to edit the post using the post_edit URL with the post's primary key -->
            <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
        </aside>
        {% if post.published_date %}
            <!-- Render the published date if it exists -->
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endblock %}
