<!-- Django Girls Blog New Post HTML Template -->
<!--This HTML template is an extension of the base template 
    designed for a Django Girls blog. 
    It is specifically used to render a form for creating a new blog post.-->

{% extends 'blog/base.html' %}

{% block content %}
    <h2>New post</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <!-- Render form fields as paragraphs -->
        {{ form.as_p }}
        <!-- Button to submit the form -->
        <button type="submit" class="save btn btn-secondary">Save</button>
    </form>
{% endblock %}
