<!-- Django Girls Blog HTML Template -->
<!--This HTML template is designed for a Django Girls blog. 
    It provides the structure and layout for displaying blog posts. 
    The template includes features such as a header, the ability to create new posts, 
    and a responsive grid layout for the main content area.-->


{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Load the static CSS file -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Django Girls blog</title>
    </head>
    <body>
        <header class="page-header">
            <div class="container">
              {% if user.is_authenticated %}
                <!-- Display a link to create a new post if the user is authenticated -->
                <a href="{% url 'post_new' %}" class="top-menu">
                    {% include './icons/file-earmark-plus.svg' %}
                </a>
              {% endif %}
                <h1><a href="/">Django Girls Blog</a></h1>
            </div>
        </header>
        
        <main class="container">
            <div class="row">
                <div class="col">
                    {% for post in posts %}
                        <article class="post">
                            <time class="date">
                                {{ post.published_date }}
                            </time>
                            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </main>
    </body>
</html>
I added comments above each section to provide an explanation of what each part does. Let me know if there's anything else you need assistance with!






